#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@ 

override_dh_clean:
	rm -rf debian/php-cassandra.debhelper.log
	rm -rf build

override_dh_auto_clean:
	# Nothing

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info
   
override_dh_auto_build:
	ext/build.sh
